@charset "UTF-8";

header{
    background-color: rgb(253, 203, 127);
    height: 2cm;
}

body{
    background-color: blanchedalmond;
}

.historia-da-internet{
    margin: 2cm;
}
.como-a-internet-funciona{
    margin: 2cm;
}
.dominio-hospedagem{
    margin: 2cm;
}
.historia-html-css{
    margin: 2cm;
}

.referencia{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 1cm;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 0.5cm;
}

li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.45cm;
    margin-left: 1cm;
    padding-bottom: 0.3cm;
    padding-top: 0.3cm;
}

footer{
    background-color: rgb(253, 203, 127);
    height: 3cm;
}