@charset "UTF-8";

header{
    background-color: rgb(253, 203, 127);
    height: 2cm;
}

body{
    background-color: blanchedalmond;
}

.historia-da-internet{
    margin: 2cm;
}
.como-a-internet-funciona{
    margin: 2cm;
}

.referencia{

}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

footer{
    background-color: rgb(253, 203, 127);
    height: 3cm;
}