@charset "UTF-8";

/*

    em HTML é "id" = no CSS é "#" (só pode um elemento).
    em HTML é "class" = no CSS é "." (pode vários elementos).

*/

body{
    background-color: rgb(143, 252, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(35, 117, 35);
}
h2{
    color: rgb(23, 77, 23);
}

/* Seletor Personalizado */
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}

.basico{
    color: blueviolet;
}
.intermediario{
    color: brown;
}
.avancado{
    color: darkorange;
}
.destaque{
    background-color: darkgrey;
    color: black;
}

/* Id sobrepõem as personalizações em class */