@charset "UTF-8";

/*

    em HTML é "id" = no CSS é "#"
    em HTML é "class" = no CSS é "."

*/

body{
    background-color: rgb(143, 252, 143);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    color: rgb(35, 117, 35);
}
h2{
    color: rgb(23, 77, 23);
}

/* Seletor Personalizado */
h1#principal{
    text-align: center;
    background-color: green;
    color: white;
}